---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB-API-KEY-1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1589237940'
      Etag:
      - W/"0dab0cc89ed2828e87fe1f7c99a29552"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB-API-KEY-1>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB-API-KEY-1>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":249502902,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk1MDI5MDI=","name":"brownfield-of-dreams","full_name":"adumortier/brownfield-of-dreams","private":false,"owner":{"login":"adumortier","id":42797894,"node_id":"MDQ6VXNlcjQyNzk3ODk0","avatar_url":"https://avatars2.githubusercontent.com/u/42797894?v=4","gravatar_id":"","url":"https://api.github.com/users/adumortier","html_url":"https://github.com/adumortier","followers_url":"https://api.github.com/users/adumortier/followers","following_url":"https://api.github.com/users/adumortier/following{/other_user}","gists_url":"https://api.github.com/users/adumortier/gists{/gist_id}","starred_url":"https://api.github.com/users/adumortier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adumortier/subscriptions","organizations_url":"https://api.github.com/users/adumortier/orgs","repos_url":"https://api.github.com/users/adumortier/repos","events_url":"https://api.github.com/users/adumortier/events{/privacy}","received_events_url":"https://api.github.com/users/adumortier/received_events","type":"User","site_admin":false},"html_url":"https://github.com/adumortier/brownfield-of-dreams","description":"YouTube
        tutorials management platform with GitHub OAuth, GitHub API consumption, secure
        email activation, user invitations, bookmarking. ","fork":true,"url":"https://api.github.com/repos/adumortier/brownfield-of-dreams","forks_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/adumortier/brownfield-of-dreams/deployments","created_at":"2020-03-23T17:47:33Z","updated_at":"2020-05-01T14:42:21Z","pushed_at":"2020-05-01T14:42:19Z","git_url":"git://github.com/adumortier/brownfield-of-dreams.git","ssh_url":"git@github.com:adumortier/brownfield-of-dreams.git","clone_url":"https://github.com/adumortier/brownfield-of-dreams.git","svn_url":"https://github.com/adumortier/brownfield-of-dreams","homepage":"","size":29193,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":26,"license":null,"forks":0,"open_issues":26,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":253909838,"node_id":"MDEwOlJlcG9zaXRvcnkyNTM5MDk4Mzg=","name":"gardenthat","full_name":"adumortier/gardenthat","private":false,"owner":{"login":"adumortier","id":42797894,"node_id":"MDQ6VXNlcjQyNzk3ODk0","avatar_url":"https://avatars2.githubusercontent.com/u/42797894?v=4","gravatar_id":"","url":"https://api.github.com/users/adumortier","html_url":"https://github.com/adumortier","followers_url":"https://api.github.com/users/adumortier/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB-API-KEY-1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1589237940'
      Etag:
      - W/"8c92bb7d91e756fa[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB-API-KEY-1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1589237939'
      Etag:
      - W/"d88b9c35390be3cf[...]
