---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLInFNcvpLQv7-_CzTVHjsyIBsMQmerdCG&key=<YOUTUBE_API_KEY>&maxResults=50&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "H2apFfD0foqjQ9RujClStGXCqRU",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "6DktyzdvsNumZ-3t36JOaio43RM",
              "id": "PLInFNcvpLQv7-_CzTVHjsyIBsMQmerdCG",
              "snippet": {
                "publishedAt": "2017-02-19T19:05:57Z",
                "channelId": "UC7RIjlxfF360GJkyOiv2dgQ",
                "title": "Doom 2016 OST",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/a6BbvCC0VI0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/a6BbvCC0VI0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/a6BbvCC0VI0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/a6BbvCC0VI0/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/a6BbvCC0VI0/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "BronyJackVideos",
                "localized": {
                  "title": "Doom 2016 OST",
                  "description": ""
                }
              }
            }
          ]
        }
  recorded_at: Wed, 13 May 2020 19:53:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&maxResults=50&part=snippet&playlistId=PLInFNcvpLQv7-_CzTVHjsyIBsMQmerdCG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
    [...]
